body {
  margin: 0px;
}
body #mainContainer {
  width: 100%;
  height: 100vh;
  background-image: url("../images/Dashboard.svg");
  background-size: cover;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
}
body #mainContainer .header {
  height: 60px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}
body #mainContainer .header .buttonBox button {
  padding: 12px 16px 12px 16px;
  border-radius: 25px;
  border: 0px;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
body #mainContainer .header .buttonBox button img {
  width: 20px;
  height: 20px;
}
body #mainContainer .header .buttonBox button .ml-10 {
  margin-left: 10px;
}
body #mainContainer .header .buttonBox button .settingBtn {
  padding: 12px !important;
}
body #mainContainer .header .buttonBox button .settingBtn .settingImg {
  margin-left: 0px;
}
body #mainContainer #contentContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
body #mainContainer #contentContainer .col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 48%;
  height: 100%;
}
body #mainContainer #contentContainer .col .col-chart {
  background-color: #ffff;
  flex-grow: 1;
  border-radius: 15px;
}
body #mainContainer #contentContainer .col .col-collapseChart {
  height: 110px;
  align-self: center;
  background-color: #ffff;
  width: 30px;
  border-radius: 15px 0px 0px 15px;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
body #mainContainer #contentContainer .col .collapseChart-map {
  border-radius: 0px 15px 15px 0px !important;
}
body #exampleModal .modal-dialog .modal-content .modal-header h5 {
  text-align: center;
  width: 100%;
}
body #exampleModal .modal-dialog .modal-body {
  margin: auto;
  width: 100%;
}
body #exampleModal .modal-dialog .modal-body .content input {
  width: 100%;
  border: 0px solid;
  outline: none;
  height: 45px;
  background-color: #cdcdcd;
  border-radius: 30px;
  position: relative;
  padding-left: 10px;
}
body #exampleModal .modal-dialog .modal-body .content .inputBtn {
  width: 119px;
  background-color: gray;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 42px;
  right: 19px;
  cursor: pointer;
  bottom: 0;
  position: absolute;
}